In [1]:
from datetime import datetime
import matplotlib.pyplot as plt
from meteostat import Point, Daily, Hourly, Monthly
import pandas as pd

In [2]:
df_weather = pd.read_excel("weather_data.xlsx", index_col=0)

In [4]:
df_weather

            tavg   prcp  wspd  tsun          city
2020-01-01   1.7    NaN  19.2   NaN        Moscow
2020-02-01   1.7    NaN   NaN   NaN        Moscow
2020-03-01   NaN    NaN   NaN   NaN        Moscow
2020-04-01   8.5    NaN   NaN   NaN        Moscow
2020-05-01  12.5    NaN   NaN   NaN        Moscow
...          ...    ...   ...   ...           ...
2022-07-01  10.2  114.7  14.7   NaN  Egilsstadhir
2022-08-01  10.1   74.6  15.2   NaN  Egilsstadhir
2022-09-01   8.8   79.6  14.6   NaN  Egilsstadhir
2022-10-01   3.3  155.2  13.7   NaN  Egilsstadhir
2022-11-01   4.3  369.3  14.2   NaN  Egilsstadhir

[43197 rows x 5 columns]

In [6]:
df_weather.describe()

               tavg          prcp          wspd          tsun
count  40789.000000  30999.000000  37538.000000  12257.000000
mean      12.252301     64.692493     11.201923  10973.799462
std        8.145986     59.372906      4.199063   5417.871506
min      -44.500000      0.000000      0.000000      0.000000
25%        6.200000     26.300000      8.300000   6780.000000
50%       12.400000     51.700000     10.800000  11040.000000
75%       18.400000     85.650000     13.600000  14760.000000
max       36.400000   1540.000000     44.500000  25320.000000

In [50]:
df_weather.city.nunique()

1253

In [8]:
df_weather.head(50)

            tavg   prcp  wspd  tsun      city
2020-01-01   1.7    NaN  19.2   NaN    Moscow
2020-02-01   1.7    NaN   NaN   NaN    Moscow
2020-03-01   NaN    NaN   NaN   NaN    Moscow
2020-04-01   8.5    NaN   NaN   NaN    Moscow
2020-05-01  12.5    NaN   NaN   NaN    Moscow
2020-06-01  15.0    NaN   NaN   NaN    Moscow
2020-07-01   NaN    NaN   NaN   NaN    Moscow
2020-08-01  20.6    NaN   NaN   NaN    Moscow
2020-09-01  16.6    NaN   NaN   NaN    Moscow
2020-10-01   9.1    NaN  12.0   NaN    Moscow
2020-11-01   3.8    NaN   NaN   NaN    Moscow
2020-12-01   NaN    NaN   NaN   NaN    Moscow
2021-01-01   NaN   64.9  14.6   NaN    Moscow
2021-02-01  -1.4   90.3  16.2   NaN    Moscow
2021-03-01   NaN    NaN   NaN   NaN    Moscow
2021-04-01   9.1   13.8  13.6   NaN    Moscow
2021-05-01  12.5   11.7  13.1   NaN    Moscow
2021-06-01  19.9   22.2  10.1   NaN    Moscow
2021-07-01  22.7    5.7   5.9   NaN    Moscow
2021-08-01  20.2   10.7   9.6   NaN    Moscow
2021-09-01  15.5   24.0   9.4   NaN    Moscow
2021-10-01   8.8   51.6  10.6   NaN    Moscow
2021-11-01   5.1  102.6  15.6   NaN    Moscow
2021-12-01  -1.4  116.8  13.6   NaN    Moscow
2022-01-01  -0.8   67.1  14.9   NaN    Moscow
2022-02-01   0.1   40.0  13.4   NaN    Moscow
2022-03-01   NaN    NaN   NaN   NaN    Moscow
2022-04-01   4.9   69.0  16.4   NaN    Moscow
2022-05-01   9.5   69.7  12.6   NaN    Moscow
2022-06-01  15.3  197.0  10.7   NaN    Moscow
2022-07-01  20.8   15.6   6.5   NaN    Moscow
2022-08-01  22.2    4.8   7.6   NaN    Moscow
2022-09-01  16.9   56.2   7.6   NaN    Moscow
2022-10-01  11.5   46.3   8.8   NaN    Moscow
2022-11-01  -0.3  118.6  14.1   NaN    Moscow
2019-12-01  10.3    NaN  17.1   NaN  Istanbul
2020-01-01   6.8    NaN  18.7   NaN  Istanbul
2020-02-01   8.2    NaN  17.6   NaN  Istanbul
2020-03-01  10.1    NaN  16.3   NaN  Istanbul
2020-04-01  11.7    NaN  17.6   NaN  Istanbul
2020-05-01  17.4    NaN  12.9   NaN  Istanbul
2020-06-01  22.6    NaN  12.2   NaN  Istanbul
2020-07-01  25.6    NaN  19.4   NaN  Istanbul
2020-08-01  25.7    NaN  17.9   NaN  Istanbul
2020-09-01  23.8    NaN  16.8   NaN  Istanbul
2020-10-01  19.6    NaN  10.8   NaN  Istanbul
2020-11-01  12.5    NaN  16.7   NaN  Istanbul
2020-12-01  11.2    NaN  15.8   NaN  Istanbul
2021-01-01   8.5    NaN  16.3   NaN  Istanbul
2021-02-01   7.7   63.3  15.7   NaN  Istanbul

In [9]:
df_weather2 = df_weather.dropna()

In [15]:
df_weather3 = df_weather.dropna(how="all")

In [10]:
df_weather2.head(50)

            tavg   prcp  wspd     tsun       city
2019-12-01   1.7   66.0  15.3   1020.0      Minsk
2020-01-01   1.2   45.0  14.5   1740.0      Minsk
2020-02-01   1.5   49.0  16.9   4620.0      Minsk
2020-03-01   3.1   22.0  14.3   9300.0      Minsk
2020-04-01   6.1   11.0  17.2  14040.0      Minsk
2020-05-01  10.4   52.0  15.7  13080.0      Minsk
2020-06-01  19.2  134.0  13.3  16260.0      Minsk
2020-07-01  17.4   68.0  12.0  16740.0      Minsk
2020-08-01  17.8   62.0  10.6  13260.0      Minsk
2020-09-01  13.9   31.0  13.3  11460.0      Minsk
2020-10-01  10.5   42.0  13.2   3120.0      Minsk
2020-11-01   3.6   51.0  14.7    780.0      Minsk
2020-12-01  -1.2   49.0  16.9   1020.0      Minsk
2021-01-01  -4.3  109.0  13.6    660.0      Minsk
2021-02-01  -6.8   39.0  13.5   5460.0      Minsk
2021-03-01   0.6   34.0  15.1   8520.0      Minsk
2021-04-01   6.1   40.0  14.6  11940.0      Minsk
2021-05-01  11.5  113.0  15.9  12420.0      Minsk
2021-06-01  19.2   84.0  11.9  18600.0      Minsk
2021-07-01  21.9   42.0  10.8  18780.0      Minsk
2021-08-01  16.9   74.0  11.1   6420.0      Minsk
2021-09-01  10.1  119.0  13.6   8400.0      Minsk
2021-10-01   6.9   10.0  14.1   7920.0      Minsk
2021-11-01   3.1   60.0  16.2   2640.0      Minsk
2019-12-01  -0.8   46.0   6.8   2220.0     Almaty
2020-01-01  -2.9   15.0   7.2   2700.0     Almaty
2020-02-01   1.7   68.0   9.1   5280.0     Almaty
2020-03-01   6.4   52.0   9.8  12420.0     Almaty
2020-04-01  14.0  139.0   9.1   9240.0     Almaty
2020-05-01  18.8   74.0   9.4  12420.0     Almaty
2020-06-01  22.0   30.0  10.0  11280.0     Almaty
2020-07-01  24.4   32.0   8.5  12120.0     Almaty
2020-08-01  24.0   40.0   9.1  13680.0     Almaty
2020-09-01  16.7   20.0   8.5  13860.0     Almaty
2020-10-01   9.7    9.0   6.8  10620.0     Almaty
2020-11-01   0.1   25.0   7.7   3480.0     Almaty
2020-12-01  -6.3   11.0   6.5   1860.0     Almaty
2021-01-01  -5.7   13.0   6.7   3120.0     Almaty
2021-02-01   1.7   51.0   6.7   3840.0     Almaty
2021-03-01   4.9  112.0  10.1   7860.0     Almaty
2021-04-01  12.5   53.0   9.3  12360.0     Almaty
2021-05-01  19.5   68.0   8.6  12360.0     Almaty
2021-06-01  23.0   19.0  10.2  12780.0     Almaty
2021-07-01  27.2   23.0   9.8  13320.0     Almaty
2021-08-01  24.6   23.0   9.7  12480.0     Almaty
2021-09-01  20.5    2.0   8.2  15540.0     Almaty
2021-10-01   7.9   34.0   6.8   7620.0     Almaty
2021-11-01   1.1   39.0   7.6   4080.0     Almaty
2019-12-01   3.4   12.0   6.2   5220.0  Bucharest
2020-01-01   0.3    3.0   5.6   6900.0  Bucharest

In [11]:
df_weather2.shape

(10761, 5)

In [19]:
df_weather.shape

(43197, 5)

In [16]:
df_weather3.head(50)

            tavg   prcp  wspd  tsun      city
2020-01-01   1.7    NaN  19.2   NaN    Moscow
2020-02-01   1.7    NaN   NaN   NaN    Moscow
2020-03-01   NaN    NaN   NaN   NaN    Moscow
2020-04-01   8.5    NaN   NaN   NaN    Moscow
2020-05-01  12.5    NaN   NaN   NaN    Moscow
2020-06-01  15.0    NaN   NaN   NaN    Moscow
2020-07-01   NaN    NaN   NaN   NaN    Moscow
2020-08-01  20.6    NaN   NaN   NaN    Moscow
2020-09-01  16.6    NaN   NaN   NaN    Moscow
2020-10-01   9.1    NaN  12.0   NaN    Moscow
2020-11-01   3.8    NaN   NaN   NaN    Moscow
2020-12-01   NaN    NaN   NaN   NaN    Moscow
2021-01-01   NaN   64.9  14.6   NaN    Moscow
2021-02-01  -1.4   90.3  16.2   NaN    Moscow
2021-03-01   NaN    NaN   NaN   NaN    Moscow
2021-04-01   9.1   13.8  13.6   NaN    Moscow
2021-05-01  12.5   11.7  13.1   NaN    Moscow
2021-06-01  19.9   22.2  10.1   NaN    Moscow
2021-07-01  22.7    5.7   5.9   NaN    Moscow
2021-08-01  20.2   10.7   9.6   NaN    Moscow
2021-09-01  15.5   24.0   9.4   NaN    Moscow
2021-10-01   8.8   51.6  10.6   NaN    Moscow
2021-11-01   5.1  102.6  15.6   NaN    Moscow
2021-12-01  -1.4  116.8  13.6   NaN    Moscow
2022-01-01  -0.8   67.1  14.9   NaN    Moscow
2022-02-01   0.1   40.0  13.4   NaN    Moscow
2022-03-01   NaN    NaN   NaN   NaN    Moscow
2022-04-01   4.9   69.0  16.4   NaN    Moscow
2022-05-01   9.5   69.7  12.6   NaN    Moscow
2022-06-01  15.3  197.0  10.7   NaN    Moscow
2022-07-01  20.8   15.6   6.5   NaN    Moscow
2022-08-01  22.2    4.8   7.6   NaN    Moscow
2022-09-01  16.9   56.2   7.6   NaN    Moscow
2022-10-01  11.5   46.3   8.8   NaN    Moscow
2022-11-01  -0.3  118.6  14.1   NaN    Moscow
2019-12-01  10.3    NaN  17.1   NaN  Istanbul
2020-01-01   6.8    NaN  18.7   NaN  Istanbul
2020-02-01   8.2    NaN  17.6   NaN  Istanbul
2020-03-01  10.1    NaN  16.3   NaN  Istanbul
2020-04-01  11.7    NaN  17.6   NaN  Istanbul
2020-05-01  17.4    NaN  12.9   NaN  Istanbul
2020-06-01  22.6    NaN  12.2   NaN  Istanbul
2020-07-01  25.6    NaN  19.4   NaN  Istanbul
2020-08-01  25.7    NaN  17.9   NaN  Istanbul
2020-09-01  23.8    NaN  16.8   NaN  Istanbul
2020-10-01  19.6    NaN  10.8   NaN  Istanbul
2020-11-01  12.5    NaN  16.7   NaN  Istanbul
2020-12-01  11.2    NaN  15.8   NaN  Istanbul
2021-01-01   8.5    NaN  16.3   NaN  Istanbul
2021-02-01   7.7   63.3  15.7   NaN  Istanbul

In [17]:
df_weather3.shape

(43197, 5)

In [18]:
df_weather3.city.nunique()

1253

In [14]:
df_weather.city.nunique()

1253

In [13]:
df_weather2.city.nunique()

501

ONLY TEMPERATURE

In [22]:
df_weather_temp = df_weather.drop(["prcp","tsun","wspd"],axis=1)

In [23]:
df_weather_temp.shape

(43197, 2)

In [28]:
df_weather_temp.head(50)

            tavg      city
2020-01-01   1.7    Moscow
2020-02-01   1.7    Moscow
2020-04-01   8.5    Moscow
2020-05-01  12.5    Moscow
2020-06-01  15.0    Moscow
2020-08-01  20.6    Moscow
2020-09-01  16.6    Moscow
2020-10-01   9.1    Moscow
2020-11-01   3.8    Moscow
2021-02-01  -1.4    Moscow
2021-04-01   9.1    Moscow
2021-05-01  12.5    Moscow
2021-06-01  19.9    Moscow
2021-07-01  22.7    Moscow
2021-08-01  20.2    Moscow
2021-09-01  15.5    Moscow
2021-10-01   8.8    Moscow
2021-11-01   5.1    Moscow
2021-12-01  -1.4    Moscow
2022-01-01  -0.8    Moscow
2022-02-01   0.1    Moscow
2022-04-01   4.9    Moscow
2022-05-01   9.5    Moscow
2022-06-01  15.3    Moscow
2022-07-01  20.8    Moscow
2022-08-01  22.2    Moscow
2022-09-01  16.9    Moscow
2022-10-01  11.5    Moscow
2022-11-01  -0.3    Moscow
2019-12-01  10.3  Istanbul
2020-01-01   6.8  Istanbul
2020-02-01   8.2  Istanbul
2020-03-01  10.1  Istanbul
2020-04-01  11.7  Istanbul
2020-05-01  17.4  Istanbul
2020-06-01  22.6  Istanbul
2020-07-01  25.6  Istanbul
2020-08-01  25.7  Istanbul
2020-09-01  23.8  Istanbul
2020-10-01  19.6  Istanbul
2020-11-01  12.5  Istanbul
2020-12-01  11.2  Istanbul
2021-01-01   8.5  Istanbul
2021-02-01   7.7  Istanbul
2021-03-01   7.4  Istanbul
2021-04-01  11.7  Istanbul
2021-05-01  18.4  Istanbul
2021-06-01  21.3  Istanbul
2021-07-01  26.6  Istanbul
2021-08-01  26.7  Istanbul

In [25]:
df_weather_temp.isna().sum().sum()

2408

In [26]:
df_weather_temp = df_weather_temp.dropna()

In [27]:
df_weather_temp.shape

(40789, 2)

In [ ]:
df_weather_temp.head

In [31]:
df_weather_temp.city.nunique()

1253

only rain

In [29]:
df_weather_rain = df_weather.drop(["tavg","tsun","wspd"],axis=1)

In [34]:
df_weather_rain.shape

(30999, 2)

In [33]:
df_weather_rain = df_weather_rain.dropna()

In [35]:
df_weather_rain.head(50)

             prcp      city
2021-01-01   64.9    Moscow
2021-02-01   90.3    Moscow
2021-04-01   13.8    Moscow
2021-05-01   11.7    Moscow
2021-06-01   22.2    Moscow
2021-07-01    5.7    Moscow
2021-08-01   10.7    Moscow
2021-09-01   24.0    Moscow
2021-10-01   51.6    Moscow
2021-11-01  102.6    Moscow
2021-12-01  116.8    Moscow
2022-01-01   67.1    Moscow
2022-02-01   40.0    Moscow
2022-04-01   69.0    Moscow
2022-05-01   69.7    Moscow
2022-06-01  197.0    Moscow
2022-07-01   15.6    Moscow
2022-08-01    4.8    Moscow
2022-09-01   56.2    Moscow
2022-10-01   46.3    Moscow
2022-11-01  118.6    Moscow
2021-02-01   63.3  Istanbul
2021-03-01  114.4  Istanbul
2021-04-01   76.3  Istanbul
2021-05-01   52.5  Istanbul
2021-06-01   75.4  Istanbul
2021-07-01   47.1  Istanbul
2021-08-01   16.5  Istanbul
2021-09-01   33.5  Istanbul
2021-10-01   34.9  Istanbul
2021-11-01   73.7  Istanbul
2021-12-01  114.9  Istanbul
2022-01-01   93.9  Istanbul
2022-02-01  128.1  Istanbul
2022-03-01   62.1  Istanbul
2022-04-01   91.4  Istanbul
2022-06-01   36.6  Istanbul
2022-07-01   12.3  Istanbul
2022-08-01   53.6  Istanbul
2022-09-01   23.3  Istanbul
2022-10-01   24.8  Istanbul
2022-11-01   45.5  Istanbul
2021-02-01   93.4    London
2021-04-01   98.4    London
2021-05-01  116.4    London
2021-06-01  162.5    London
2021-07-01  187.9    London
2021-08-01  109.4    London
2021-09-01   85.5    London
2021-10-01  146.1    London

In [36]:
df_weather_rain.city.nunique()

1209

windspeed

In [37]:
df_weather_wind = df_weather.drop(["tavg","tsun","prcp"],axis=1)

In [41]:
df_weather_wind = df_weather_wind.dropna()

In [42]:
df_weather_wind.shape

(37538, 2)

In [43]:
df_weather_wind.city.nunique()

1252

last but not least:  sun

In [44]:
df_weather_sun = df_weather.drop(["tavg","prcp","wspd"],axis=1)

In [45]:
df_weather_sun.head(2)

            tsun    city
2020-01-01   NaN  Moscow
2020-02-01   NaN  Moscow

In [47]:
df_weather_sun = df_weather_sun.dropna()

In [48]:
df_weather_sun.shape

(12257, 2)

In [49]:
df_weather_sun.city.nunique()

505

In [51]:
df_weather4 = df_weather.drop("tsun",axis=1)

In [52]:
df_weather4.shape

(43197, 4)

In [53]:
df_weather4.head()

            tavg  prcp  wspd    city
2020-01-01   1.7   NaN  19.2  Moscow
2020-02-01   1.7   NaN   NaN  Moscow
2020-03-01   NaN   NaN   NaN  Moscow
2020-04-01   8.5   NaN   NaN  Moscow
2020-05-01  12.5   NaN   NaN  Moscow

In [54]:
df_weather4 = df_weather4.dropna()

In [55]:
df_weather4.shape

(28602, 4)

In [56]:
df_weather4.city.nunique()

1208

In [57]:
df_weather4.head(30)

            tavg   prcp  wspd      city
2021-02-01  -1.4   90.3  16.2    Moscow
2021-04-01   9.1   13.8  13.6    Moscow
2021-05-01  12.5   11.7  13.1    Moscow
2021-06-01  19.9   22.2  10.1    Moscow
2021-07-01  22.7    5.7   5.9    Moscow
2021-08-01  20.2   10.7   9.6    Moscow
2021-09-01  15.5   24.0   9.4    Moscow
2021-10-01   8.8   51.6  10.6    Moscow
2021-11-01   5.1  102.6  15.6    Moscow
2021-12-01  -1.4  116.8  13.6    Moscow
2022-01-01  -0.8   67.1  14.9    Moscow
2022-02-01   0.1   40.0  13.4    Moscow
2022-04-01   4.9   69.0  16.4    Moscow
2022-05-01   9.5   69.7  12.6    Moscow
2022-06-01  15.3  197.0  10.7    Moscow
2022-07-01  20.8   15.6   6.5    Moscow
2022-08-01  22.2    4.8   7.6    Moscow
2022-09-01  16.9   56.2   7.6    Moscow
2022-10-01  11.5   46.3   8.8    Moscow
2022-11-01  -0.3  118.6  14.1    Moscow
2021-02-01   7.7   63.3  15.7  Istanbul
2021-03-01   7.4  114.4  15.2  Istanbul
2021-04-01  11.7   76.3  14.1  Istanbul
2021-05-01  18.4   52.5  13.9  Istanbul
2021-06-01  21.3   75.4  11.7  Istanbul
2021-07-01  26.6   47.1  16.5  Istanbul
2021-08-01  26.7   16.5  16.4  Istanbul
2021-09-01  21.1   33.5  17.3  Istanbul
2021-10-01  15.8   34.9  17.4  Istanbul
2021-11-01  13.2   73.7  14.8  Istanbul