In [1]:

 from datetime import datetime
import matplotlib.pyplot as plt
from meteostat import Point, Daily, Hourly, Monthly
import pandas as pd
from sql_functions import get_engine
engine = get_engine()

In [2]:
import pandas as pd
import sqlalchemy
import psycopg2
# Import get_engine from sql_functions.py. You will need to restart your kernel and rerun at this point since we changed the module since we first imported it.
from sql_functions import get_engine
# create a variable called engine using the get_engine function
engine = get_engine()

In [3]:
from dotenv import load_dotenv

In [4]:
this_life_expectancy_df = pd.read_csv('data/life_expectancy.csv', low_memory = False)

In [5]:
def function(table_name):
    schema="bestteamever"
    engine=get_engine()
    name=str(table_name)
    if engine!=None:
        try:
            table_name.to_sql(name=name, # Name of SQL table
                            con=engine, # Engine or connection
                            if_exists='replace', # Drop the table before inserting new values
                            schema=schema, # Use schmea that was defined earlier
                            index=False, # Write DataFrame index as a column
                            chunksize=5000, # Specify the number of rows in each batch to be written at a time
                            method='multi') # Pass multiple values in a single INSERT clause
            return(print(f"The {name} table was imported successfully."))
   # Error handling
        except (Exception, psycopg2.DatabaseError) as error:
            return(print(error))
            engine = None

In [6]:
function(this_life_expectancy_df)

Identifier '          Entity Code  Year  \
0    Afghanistan  AFG  2000
1    Afghanistan  AFG  2010
2    Afghanistan  AFG  2015
3    Afghanistan  AFG  2019
4         Africa  NaN  2000
..           ...  ...   ...
771       Zambia  ZMB  2019
772     Zimbabwe  ZWE  2000
773     Zimbabwe  ZWE  2010
774     Zimbabwe  ZWE  2015
775     Zimbabwe  ZWE  2019

     Indicator:Life expectancy at birth (years) - Sex:Both sexes
0                                             54.98949
1                                             59.94055
2                                             61.65429
3                                             63.20990
4                                             52.65365
..                                                 ...
771                                           62.45290
772                                           46.57054
773                                           51.49335
774                                           58.47603
775                                           60.68252

[776 rows x 4 columns]' exceeds maximum length of 63 characters

In [9]:
def timestwo(n):
    i=n*2
    return(i)

In [10]:
timestwo(9)

18

In [7]:
#Specify which table within your database you want to push your data to. Give your table an unambiguous name.
# Example: flights_sp for Sina's flights table, flights_groupname or similar
table_2 = 'final_european_gle'
schema = 'bestteamever'
# If the specified table doesn't exist yet, it will be created
# With 'replace', your data will be replaced if the table already exists.
# This may take some time ...
 
# Write records stored in a dataframe to SQL database
if engine!=None:
   try:
       final_european_gle.to_sql(name=table_2, # Name of SQL table
                       con=engine, # Engine or connection
                       if_exists='replace', # Drop the table before inserting new values
                       schema=schema, # Use schmea that was defined earlier
                       index=False, # Write DataFrame index as a column
                       chunksize=5000, # Specify the number of rows in each batch to be written at a time
                       method='multi') # Pass multiple values in a single INSERT clause
       print(f"The {table_2} table was imported successfully.")
   # Error handling
   except (Exception, psycopg2.DatabaseError) as error:
       print(error)
       engine = None

SyntaxError: invalid syntax (4071386681.py, line 1)