In [2]:
# Import pandas
import pandas as pd
# Import get_dataframe function from the sql module
from sql_functions  import get_dataframe
import matplotlib # Imports matplotlib library
import matplotlib.pyplot as plt # Imports pyplot
import numpy as np # import numpy for b uilding arrays
import seaborn as sns
from sql_functions  import get_engine
import sqlalchemy
import psycopg2

In [3]:
#note: password, host and username are in a different notebook, which will not be uploaded to github due to gitignore

#define schema
schema = 'bestteamever'

# Import the needed tables from sql server and put it in dataframes

df_crime_index = get_dataframe(f'select * from {schema}.final_european_crime_index;')

In [60]:
schema= "bestteamever"

this_df = get_dataframe(f'select * from {schema}.tableau_final_table')

In [14]:
df_crime_index.head(20)

           country          city  crime index
0   United Kingdom      Bradford        71.24
1   United Kingdom      Coventry        68.35
2           France        Nantes        65.70
3       Kazakhstan        Almaty        64.17
4            Italy       Catania        63.51
5   United Kingdom    Birmingham        62.68
6           France     Marseille        62.51
7          Romania       Craiova        60.20
8            Italy        Naples        59.96
9           France          Nice        59.43
10         Belarus         Minsk        58.72
11         Belgium         Liege        57.38
12          Sweden         Malmo        56.59
13          Greece        Athens        56.42
14          France         Paris        56.02
15  United Kingdom    Manchester        55.81
16          France   Montpellier        55.16
17          Greece  Thessaloniki        54.80
18           Spain        Bilbao        54.42
19          France         Lille        54.33

In [6]:
df_crime_index.country.values

array(['United Kingdom', 'United Kingdom', 'France', 'Kazakhstan',
       'Italy', 'United Kingdom', 'France', 'Romania', 'Italy', 'France',
       'Belarus', 'Belgium', 'Sweden', 'Greece', 'France',
       'United Kingdom', 'France', 'Greece', 'Spain', 'France', 'France',
       'United Kingdom', 'Ukraine', 'Italy', 'France', 'Portugal',
       'Ireland', 'Belgium', 'Ukraine', 'Russia', 'Italy', 'Ireland',
       'Russia', 'France', 'Italy', 'United Kingdom', 'Romania', 'France',
       'Spain', 'Ukraine', 'United Kingdom', 'France', 'Turkey', 'Sweden',
       'Montenegro', 'Russia', 'Russia', 'Italy', 'North Macedonia',
       'Italy', 'Italy', 'Sweden', 'United Kingdom', 'Ukraine',
       'United Kingdom', 'Moldova', 'Albania', 'Germany', 'Norway',
       'United Kingdom', 'United Kingdom', 'Germany', 'Germany', 'Italy',
       'Germany', 'Bulgaria', 'Poland', 'United Kingdom', 'Germany',
       'Serbia', 'Germany', 'Poland', 'Germany', 'Sweden', 'Germany',
       'Ireland', 'Italy', 'Russia', 'Turkey', 'United Kingdom',
       'Ukraine', 'Germany', 'Serbia', 'France', 'Latvia', 'Lithuania',
       'Belgium', 'United Kingdom', 'Russia', 'Bulgaria', 'Finland',
       'United Kingdom', 'Lithuania', 'Italy', 'Netherlands', 'Ireland',
       'Portugal', 'Hungary', 'Germany', 'Norway', 'Sweden',
       'United Kingdom', 'Romania', 'Croatia', 'Germany', 'Kazakhstan',
       'Netherlands', 'Spain', 'Spain', 'Germany', 'Poland', 'Turkey',
       'Poland', 'Germany', 'Germany', 'Poland', 'United Kingdom',
       'Poland', 'Luxembourg', 'Spain', 'Slovakia', 'United Kingdom',
       'Russia', 'Ireland', 'Portugal', 'Spain', 'Romania', 'Turkey',
       'Spain', 'Austria', 'Poland', 'Norway', 'Spain', 'Turkey',
       'Austria', 'Netherlands', 'Denmark', 'Switzerland', 'Lithuania',
       'Romania', 'Belgium', 'Italy', 'Czech Republic', 'Denmark',
       'Switzerland', 'Finland', 'Netherlands', 'Czech Republic',
       'Romania', 'Estonia', 'Croatia', 'Norway', 'Iceland',
       'Netherlands', 'Romania', 'Finland', 'Slovenia', 'Croatia',
       'Netherlands', 'Estonia', 'Denmark', 'Switzerland', 'Romania',
       'Switzerland', 'Norway', 'Turkey', 'Germany', 'Switzerland',
       'Switzerland', 'Spain'], dtype=object)

In [8]:
df_crime_index.describe

<bound method NDFrame.describe of             country           city  crime index
0    United Kingdom       Bradford        71.24
1    United Kingdom       Coventry        68.35
2            France         Nantes        65.70
3        Kazakhstan         Almaty        64.17
4             Italy        Catania        63.51
..              ...            ...          ...
165          Turkey      Eskisehir        18.86
166         Germany         Munich        18.66
167     Switzerland           Bern        17.94
168     Switzerland         Zurich        17.26
169           Spain  San Sebastian        14.86

[170 rows x 3 columns]>

In [15]:
df2 =df_crime_index.groupby("country")["country","crime index"].transform("mean")

/var/folders/vj/ht3c_9md4r78d2zr0h85nbhm0000gn/T/ipykernel_1473/3907594678.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df2 =df_crime_index.groupby("country")["country","crime index"].transform("mean")
/var/folders/vj/ht3c_9md4r78d2zr0h85nbhm0000gn/T/ipykernel_1473/3907594678.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2 =df_crime_index.groupby("country")["country","crime index"].transform("mean")

In [16]:
df2.head(20)

    crime index
0     46.552778
1     46.552778
2     53.906667
3     48.650000
4     47.111667
5     46.552778
6     53.906667
7     32.996250
8     47.111667
9     53.906667
10    58.720000
11    43.402500
12    44.884000
13    55.610000
14    53.906667
15    46.552778
16    53.906667
17    55.610000
18    32.846667
19    53.906667

In [18]:
df2 =df2.rename(columns={"crime index":"crime_index"})

In [21]:
frames = [df2, df_crime_index]

df3 = pd.concat(frames, axis=1)

In [22]:
df3.head(20)

    crime_index         country          city  crime index
0     46.552778  United Kingdom      Bradford        71.24
1     46.552778  United Kingdom      Coventry        68.35
2     53.906667          France        Nantes        65.70
3     48.650000      Kazakhstan        Almaty        64.17
4     47.111667           Italy       Catania        63.51
5     46.552778  United Kingdom    Birmingham        62.68
6     53.906667          France     Marseille        62.51
7     32.996250         Romania       Craiova        60.20
8     47.111667           Italy        Naples        59.96
9     53.906667          France          Nice        59.43
10    58.720000         Belarus         Minsk        58.72
11    43.402500         Belgium         Liege        57.38
12    44.884000          Sweden         Malmo        56.59
13    55.610000          Greece        Athens        56.42
14    53.906667          France         Paris        56.02
15    46.552778  United Kingdom    Manchester        55.81
16    53.906667          France   Montpellier        55.16
17    55.610000          Greece  Thessaloniki        54.80
18    32.846667           Spain        Bilbao        54.42
19    53.906667          France         Lille        54.33

In [25]:
df3 =df3.drop("crime index", axis=1)

In [26]:
df3.head(20)

    crime_index         country          city
0     46.552778  United Kingdom      Bradford
1     46.552778  United Kingdom      Coventry
2     53.906667          France        Nantes
3     48.650000      Kazakhstan        Almaty
4     47.111667           Italy       Catania
5     46.552778  United Kingdom    Birmingham
6     53.906667          France     Marseille
7     32.996250         Romania       Craiova
8     47.111667           Italy        Naples
9     53.906667          France          Nice
10    58.720000         Belarus         Minsk
11    43.402500         Belgium         Liege
12    44.884000          Sweden         Malmo
13    55.610000          Greece        Athens
14    53.906667          France         Paris
15    46.552778  United Kingdom    Manchester
16    53.906667          France   Montpellier
17    55.610000          Greece  Thessaloniki
18    32.846667           Spain        Bilbao
19    53.906667          France         Lille

In [28]:
df4 = df3.drop("city", axis=1)

In [31]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   crime_index  170 non-null    float64
 1   country      170 non-null    object
dtypes: float64(1), object(1)
memory usage: 2.8+ KB

In [32]:
df_crime_index.add_column

          country      city  crime index
0  United Kingdom  Bradford        71.24
1  United Kingdom  Coventry        68.35
2          France    Nantes        65.70
3      Kazakhstan    Almaty        64.17
4           Italy   Catania        63.51

In [34]:
new_crime_index = df_crime_index.groupby("country").mean()["crime index"].reset_index()

/var/folders/vj/ht3c_9md4r78d2zr0h85nbhm0000gn/T/ipykernel_1473/3715088047.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  new_crime_index = df_crime_index.groupby("country").mean()["crime index"].reset_index()

In [44]:
new_crime_index = new_crime_index.round(1)

In [47]:
new_crime_index = new_crime_index.rename(columns = {"crime index":"crime_index"})

In [48]:
#push the table into the database
# Specify which table within your database you want to push your data to. Give your table an unambiguous name.
# Example: flights_sp for Sina's flights table, flights_groupname or similar
table_name = 'new_crime_index'
# If the specified table doesn't exist yet, it will be created
# With 'replace', your data will be replaced if the table already exists.

# Write records stored in a dataframe to SQL database
engine = get_engine()

if engine!=None:
    try:
        new_crime_index.to_sql(name=table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The new_crime_index table was imported successfully.

In [59]:
new_crime_index.country.values

array(['Albania', 'Austria', 'Belarus', 'Belgium', 'Bulgaria', 'Croatia',
       'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France',
       'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy',
       'Kazakhstan', 'Latvia', 'Lithuania', 'Luxembourg', 'Moldova',
       'Montenegro', 'Netherlands', 'North Macedonia', 'Norway', 'Poland',
       'Portugal', 'Romania', 'Russia', 'Serbia', 'Slovakia', 'Slovenia',
       'Spain', 'Sweden', 'Switzerland', 'Turkey', 'Ukraine',
       'United Kingdom'], dtype=object)

In [76]:
new_crime_index.country.nunique()

39

In [77]:
this_df.country.unique()

array(['Albania', 'Austria', 'Belarus', 'Belgium', 'Bulgaria', 'Croatia',
       'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece',
       'Hungary', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg',
       'Moldova', 'Montenegro', 'Netherlands', 'North Macedonia',
       'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'Serbia',
       'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey',
       'Ukraine', 'United Kingdom'], dtype=object)

In [80]:
pd.concat([this_df,new_crime_index], axis=1)

,city,country,mac_meal,meal_outside_for_two,cappuccino_restaurants,grocery_basket,gasoline_1ltr,taxi_1km,internet,cinema_1seat,...,1.1.2022_2,1.4.2022_2,1.7.2022_2,1.10.2022_2,1.1.2022_3,1.4.2022_3,1.7.2022_3,1.10.2022_3,country,crime_index
0,Lushnje,Albania,3.02,24.21,1.20,20.23,1.70,2.48,16.53,7.88,...,108.1,49.2,28.4,101.5,7.2,4.8,6.5,6.6,Albania,44.5
1,Durres,Albania,4.51,28.81,1.08,19.46,1.53,1.88,17.57,6.76,...,124.8,83.9,51.7,137.2,7.9,4.8,7.1,5.9,Austria,27.1
2,Gramsh,Albania,3.15,24.86,1.24,14.91,1.53,1.80,13.02,4.21,...,108.1,49.2,28.4,101.5,7.2,4.8,6.5,6.6,Belarus,58.7
3,Kruje,Albania,4.35,31.81,1.35,19.29,2.13,1.35,15.95,6.67,...,124.8,83.9,43.3,146.2,5.6,4.0,5.5,5.2,Belgium,43.4
4,Tirana,Albania,5.86,38.56,1.41,26.10,2.13,2.70,15.95,6.67,...,124.8,83.9,43.3,146.2,5.6,4.0,5.5,5.2,Bulgaria,39.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9219,Norwich,United Kingdom,7.38,93.60,3.43,32.18,1.90,1.83,36.53,9.84,...,85.7,66.4,120.0,111.5,12.0,7.1,8.3,9.2,NaN,NaN
9220,Wigan,United Kingdom,6.15,66.10,3.61,34.23,1.87,1.39,40.59,10.61,...,0.0,0.0,51.3,103.0,0.0,0.0,10.5,10.0,NaN,NaN
9221,Great Yarmouth,United Kingdom,7.38,61.50,2.92,19.70,1.90,1.61,36.53,12.30,...,0.0,0.0,29.6,0.0,0.0,0.0,13.9,0.0,NaN,NaN
9222,Bath,United Kingdom,8.00,96.54,3.81,32.59,1.89,1.69,41.62,16.61,...,86.3,50.4,93.5,127.6,5.7,4.9,5.5,5.1,NaN,NaN
9223,Aberdeen,United Kingdom,6.39,73.15,3.45,31.65,1.93,1.69,30.44,9.23,...,135.0,71.3,126.9,62.6,10.0,5.6,5.1,5.9,NaN,NaN