In [1]:
from datetime import datetime
import matplotlib.pyplot as plt
from meteostat import Point, Daily, Hourly, Monthly
import pandas as pd
from sql_functions import get_engine
engine = get_engine()

In [2]:
from dotenv import load_dotenv

In [3]:
import psycopg2

In [4]:
weather_df = pd.read_excel("weather_data3.xlsx", index_col=0)

In [11]:
weather_df.shape

(28602, 5)

In [12]:
28602*5

143010

In [5]:
weather_df.head(50)

            average_temperature  precipitation  windspeed      city       date
2021-02-01                 -1.4           90.3       16.2    Moscow 2021-02-01
2021-04-01                  9.1           13.8       13.6    Moscow 2021-04-01
2021-05-01                 12.5           11.7       13.1    Moscow 2021-05-01
2021-06-01                 19.9           22.2       10.1    Moscow 2021-06-01
2021-07-01                 22.7            5.7        5.9    Moscow 2021-07-01
2021-08-01                 20.2           10.7        9.6    Moscow 2021-08-01
2021-09-01                 15.5           24.0        9.4    Moscow 2021-09-01
2021-10-01                  8.8           51.6       10.6    Moscow 2021-10-01
2021-11-01                  5.1          102.6       15.6    Moscow 2021-11-01
2021-12-01                 -1.4          116.8       13.6    Moscow 2021-12-01
2022-01-01                 -0.8           67.1       14.9    Moscow 2022-01-01
2022-02-01                  0.1           40.0       13.4    Moscow 2022-02-01
2022-04-01                  4.9           69.0       16.4    Moscow 2022-04-01
2022-05-01                  9.5           69.7       12.6    Moscow 2022-05-01
2022-06-01                 15.3          197.0       10.7    Moscow 2022-06-01
2022-07-01                 20.8           15.6        6.5    Moscow 2022-07-01
2022-08-01                 22.2            4.8        7.6    Moscow 2022-08-01
2022-09-01                 16.9           56.2        7.6    Moscow 2022-09-01
2022-10-01                 11.5           46.3        8.8    Moscow 2022-10-01
2022-11-01                 -0.3          118.6       14.1    Moscow 2022-11-01
2021-02-01                  7.7           63.3       15.7  Istanbul 2021-02-01
2021-03-01                  7.4          114.4       15.2  Istanbul 2021-03-01
2021-04-01                 11.7           76.3       14.1  Istanbul 2021-04-01
2021-05-01                 18.4           52.5       13.9  Istanbul 2021-05-01
2021-06-01                 21.3           75.4       11.7  Istanbul 2021-06-01
2021-07-01                 26.6           47.1       16.5  Istanbul 2021-07-01
2021-08-01                 26.7           16.5       16.4  Istanbul 2021-08-01
2021-09-01                 21.1           33.5       17.3  Istanbul 2021-09-01
2021-10-01                 15.8           34.9       17.4  Istanbul 2021-10-01
2021-11-01                 13.2           73.7       14.8  Istanbul 2021-11-01
2021-12-01                  9.9          114.9       17.9  Istanbul 2021-12-01
2022-01-01                  5.8           93.9       17.6  Istanbul 2022-01-01
2022-02-01                  7.2          128.1       15.0  Istanbul 2022-02-01
2022-03-01                  5.4           62.1       16.1  Istanbul 2022-03-01
2022-04-01                 13.2           91.4       13.8  Istanbul 2022-04-01
2022-06-01                 23.0           36.6       16.4  Istanbul 2022-06-01
2022-07-01                 25.3           12.3       20.0  Istanbul 2022-07-01
2022-08-01                 26.3           53.6       16.7  Istanbul 2022-08-01
2022-09-01                 21.9           23.3       14.8  Istanbul 2022-09-01
2022-10-01                 17.2           24.8       17.5  Istanbul 2022-10-01
2022-11-01                 14.7           45.5       16.4  Istanbul 2022-11-01
2021-02-01                 -3.4           93.4       13.5    London 2021-02-01
2021-04-01                 11.1           98.4       12.8    London 2021-04-01
2021-05-01                 15.7          116.4       10.4    London 2021-05-01
2021-06-01                 22.6          162.5       12.6    London 2021-06-01
2021-07-01                 22.8          187.9        9.4    London 2021-07-01
2021-08-01                 23.1          109.4        8.3    London 2021-08-01
2021-09-01                 19.3           85.5        9.8    London 2021-09-01
2021-10-01                 15.6          146.1        9.2    London 2021-10-01
2021-11-01                  4.5           62.5       11.1    London 2021-11-01

In [6]:
# Specify which table within your database you want to push your data to. Give your table an unambiguous name.
# Example: flights_sp for Sina's flights table, flights_groupname or similar
table_name = 'tableau_weather_data'
schema="bestteamever"
# If the specified table doesn't exist yet, it will be created
# With 'replace', your data will be replaced if the table already exists.
# This may take some time ...

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        weather_df.to_sql(name=table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schema that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The tableau_weather_data table was imported successfully.

In [7]:
weather_london = weather_df.city.isin({"London"})

In [8]:
weather_cologne_df = weather_df.loc[weather_df["city"].isin({"Cologne"})]

In [9]:
weather_cologne_df.head()

            average_temperature  precipitation  windspeed     city       date
2019-12-01                  5.7           78.0        6.3  Cologne 2019-12-01
2020-01-01                  4.3           11.0        5.8  Cologne 2020-01-01
2020-02-01                  7.6            2.0        8.4  Cologne 2020-02-01
2020-04-01                 14.0           21.0        8.1  Cologne 2020-04-01
2020-05-01                 18.0           76.0        7.7  Cologne 2020-05-01

In [10]:
weather_cologne_df.describe()

       average_temperature  precipitation  windspeed
count            31.000000      31.000000  31.000000
mean             15.067742      69.774194   6.909677
std               7.447523      47.835719   1.024160
min               2.400000       2.000000   4.900000
25%               8.650000      31.700000   6.100000
50%              15.700000      71.000000   7.200000
75%              21.450000      97.800000   7.700000
max              27.100000     186.000000   8.400000